/* Global styles */
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    background: hsl(212, 45%, 89%);
    font-size: 0.9375em;
}

a {
    text-decoration: none;
    color: hsl(216, 15%, 48%);
}

a:hover,
a:focus {
    text-decoration: underline;
}


/* Contents*/
.body-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.main-container {
    max-height: 100%;
    display: grid;
    align-content: center;
}

.qr-card {
    background-color: white;
    max-width: 320px;
    max-height: 500px;
    border-radius: 20px;
    padding: 1rem;
}
.card-content {
    display: grid;
    align-content: center;
    place-items: center;
    grid-gap: 1.5rem;
    margin-bottom: 1rem;
}

.img-wrapper{
    max-width: 288px;
    max-height: 288px;
    border-radius: 16px;
}

.img-wrapper img{
  max-width: 100%;
  max-height: 100%;
}

.qrtext {
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}

.qrtext h1 {
    color: #1F314F;
    font-size: 1.375em;
    font-weight: bold;
    margin-bottom: 1rem;
}

.qrtext p {
    color: #68778D;
}

.footer-container {
    position: absolute;
    bottom: 0;
}

.site-footer {
    text-align: center;
}

.site-footer p {
    color:  #1F314F;
    font-size: 0.85em;
}

@media (max-width: 30em) {
    .qr-card{
        max-width: 66%;
        margin: auto;
    }
}
